@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color: #fff;
    background-color: #000;
  }
}

 @layer components{
  .menulink {
 
 
 @apply cursor-pointer hover:text-orange-700;
  }
  .tags{
    background-color: orange;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
    padding: 4px 10px;
    display: inline-block;
    color: white;
    font-size: 14px;
    
  }
  
   }


   @layer footer{
    .footer{
      background-color: orange;
    }
   }